<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewOrderDesign.Properties.Settings.CovidDataNYTConnectionString"
            connectionString="Data Source=DESKTOP-GMQRRJB\SQLEXPRESS;Initial Catalog=CovidDataNYT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewOrderDesign.Properties.Settings.Credentials" connectionString="Data Source=74.192.196.118\SQLEXPRESS,2022;Initial Catalog=Credentials;Integrated Security=False;User ID=apeuser;Password=***********" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>