<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NewOrderDesign.Properties.Settings.CovidDataNYTConnectionString"
            connectionString="Data Source=DESKTOP-GMQRRJB\SQLEXPRESS;Initial Catalog=CovidDataNYT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewOrderDesign.Properties.Settings.CovidDataConnectionString"
            connectionString="Data Source=DESKTOP-RU1AMPT\SQLEXPRESS;Initial Catalog=CovidData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NewOrderDesign.Properties.Settings.FBIConnectionString"
            connectionString="Data Source=DESKTOP-RU1AMPT\SQLEXPRESS;Initial Catalog=FBI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>